{% extends "Blog_new/base.html" %}
{% load widget_tweaks %}
{% block content %}
    <section class="blog_area section-gap single-post-area">
    <div class="container box_1170">
    <div class="row">
    <div class="col-lg-8 mb-5">
        <div class="content-section">
            <form method="post" novalidate>
                {% csrf_token %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        {% for error in field.errors %}
                            <span class="help-block" style="color: red">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}

                <div class="form-group">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"></span>Send OTP
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block sidebar %}

{% endblock %}
{% block footer %}

{% endblock %}