{% extends "Blog_new/base.html" %}
{% block content %}

    <section class="blog_area section-gap single-post-area">
    <div class="container box_1170">
    <div class="row">
    <div class="col-lg-8 mb-5">
        <h4>You have been logged out</h4>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{% url 'login' %}">Login Again</a>
            </small>
        </div>
    </div>
{% endblock content %}
{% block sidebar %}

{% endblock %}
{% block footer %}

{% endblock %}